<header>
  <a href="#" class="brand"><i class="bi bi-house-fill black"></i></a>
  <div class="navigation">
      <div class="navigation-items">
          <a href="#">Blog</a>
          <a href="#about">About</a>
          <a href="#contact">Contact</a>
          <a href="./../login/login.component.html">Join</a>
      </div>
  </div>
</header>
<main class="main" id="home" style="min-height: 100vh; background-attachment: fixed;">
    <section class="home">
      <video src="../assets/media/bg.mp4" muted loop autoplay></video>
      <div class="dark-overlay"></div>
      <div class="content">
          <h1>Savory Saga</h1>
          <h2>Embark on a Culinary Journey</h2>
          <p>Whether you're a seasoned chef or an amateur enthusiast, let us be your guide as we explore the rich tapestry of cuisines, sharing stories and experiences that celebrate the art of cooking. Join us on this epicurean odyssey, where every dish tells a story and every bite is a new chapter in your culinary saga</p>
          <a href="#" class="btn">Get Cooking</a>
      </div>
    </section>
  </main>
<main class="about" id="about">
<section data-bs-version="5.1" class="article2 cid-u8XZzIYqP0" id="about-me-2-u8XZzIYqP0">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-12 col-lg-6 image-wrapper">
				<img class="w-100" src="./../../../assets/media/photo-1627662236865-75ef4bba23a0.jpeg" alt="Who Are We">
			</div>
			<div class="col-12 col-md-12 col-lg">
				<div class="text-wrapper align-left">
					<h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
						<strong>Who We Are</strong>
					</h1>
					<p class="mbr-text align-left mbr-fonts-style mb-3 display-7">Welcome to the flavorful world of SavorySaga, where every recipe tells a story and every bite is a journey!</p>

					<p class="mbr-text align-left mbr-fonts-style mb-3 display-7">At SavorySaga, we believe in the magic of cooking and the joy of sharing delicious moments with loved ones.</p>

					<p class="mbr-text align-left mbr-fonts-style mb-3 display-7">Join our community, explore endless recipes, and save your favorites to savor them again and again!</p>
        </div>
			</div>
		</div>
	</div>
</section>
<section class="image-section">
  <div class="image-container">
    <img src="./../../../assets/images/photo-1531594652722-292a43e752b4.jpeg" alt="Image 1" class="image">
    <div class="text-container">
      <h2 class="title">Search &amp; Add Recipes</h2>
      <h3 class="subheading">Discover and add recipes to your collection with ease.</h3>
    </div>
  </div>
  <div class="image-container">
    <img src="./../../../assets/images/photo-1610348725531-843dff563e2c.jpeg" alt="Image 2" class="image">
    <div class="text-container">
      <h2 class="title">Save Favorites</h2>
      <h3 class="subheading">Bookmark your favorite recipes for quick access.</h3>
    </div>
  </div>
</section>
</main>
<main class="contact" id="contact">
<section class="align-center socials">
    <h3 class="mbr-section-title align-center mb-5 mbr-fonts-style display-5">
      <strong>Stay Connected with Us</strong>
  </h3>
  <ul class="social-icons">
    <li><a href="https://www.instagram.com/your-instagram-handle/"><i class="bi bi-instagram"></i></a></li>
    <li><a href="https://www.facebook.com/your-facebook-page/"><i class="bi bi-facebook"></i></a></li>
    <li><a href="https://twitter.com/your-twitter-handle"><i class="bi bi-twitter"></i></a></li>
    <li><a href="https://www.linkedin.com/company/your-linkedin-page/"><i class="bi bi-linkedin"></i></a></li>
  </ul>
</section>

<section data-bs-version="5.1" class="contacts03 cid-u8XZzJ1aFs" id="contacts-11-u8XZzJ1aFs">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="col-12 col-md-12">
          <h5 class="mbr-section-title mbr-fonts-style mt-0 mb-4 display-2">
            <strong>Connect Now</strong>
          </h5>
          <p class="mbr-section-subtitle mbr-fonts-style mt-0 mb-4 display-7">
            Call: 1-800-YUM-FOOD
            <br>Email: info&#64;savorysaga.com
            <br>Visit: New York,USA
            <br>Opening Hours: Mon-Fri: 9am-6pm
          </p> 

          
        </div>
      </div>
        <div class="col-lg-8 side-features">
        <div class="google-map"><iframe frameborder="0" style="border:0; width:100%; height:500px;" 
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6045.3003145248895!2d-73.9884657!3d40.7477229!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9ac1f1b85%3A0x7e33d1c0e7af3be4!2zMzUwIDV0aCBBdmUsIE5ldyBZb3JrLCBOWSAxMDExOCwg0KHQqNCQ!5e0!3m2!1sru!2sru!4v1689597362021!5m2!1sen!2sen"
           allowfullscreen=""></iframe></div>
      </div>
    </div>
  </div>
</section>
</main>
<app-footer></app-footer>
