* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

header {
    z-index: 1000;
    position: fixed;
    margin-top: 10px;
    margin-left: 150px;
    width: 80%;
    background-color:rgba(233, 236, 230, 0.7);/* Adjust as needed */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 20px 40px; /* Adjusted padding */
    transition: 0.5s ease;
    border-radius: 20px; /* Rounded corners */
}
i{
    color: black;
}
header .brand {
    color: #fff;
    font-size: 1.6em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation {
    position: relative;
}

header .navigation .navigation-items a {
    position: relative;
    color: #000000;
    font-size: 1em;
    font-weight: 550;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
}